<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>中小学教师研修管理系统</title>
		<link href="<?php echo CSS_PATH;?>bootstrap.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<?php echo CSS_PATH;?>bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<?php echo CSS_PATH;?>jquery-ui-1.10.0.custom.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<?php echo CSS_PATH;?>uniform.default.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<?php echo CSS_PATH;?>global.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<?php echo CSS_PATH;?>messenger.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<?php echo CSS_PATH;?>messenger-theme-future.css" rel="stylesheet" type="text/css" media="screen"/>
		<?php
		// Load local css file
		if(!empty($style)){
			echo $style;
		}
		?>
	</head>
	<body>
		<div class="page-top">
			<div class="container">
				<h3>中小学教师研修管理系统-后台</h3>
			</div>
		</div>
		
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" style="width:1170px;">
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="<?php if($controllerName == "targetmanage") echo "active";?> dropdown" >
								<a href="#" id="drop1" class="dropdown-toggle" data-toggle="dropdown" role="button">部门组管理
								 <b class="caret"></b></a>
								
								<ul class="dropdown-menu" aria-labelledby="drop1" role="menu">
									<li role="presentation"><a href="<?php echo spUrl("targetmanage", "budgettargetsregistrationlist"); ?>">部门组设置</a></li>
									 <li class="divider"></li>
									<li role="presentation"><a href="<?php echo spUrl("targetmanage", "indicatorslist");?>">内部指标设置</a></li>
								</ul>
							</li>
							
							<li class="<?php if($controllerName == "businessreport") echo "active";?> dropdown">
								<a href="#" id="drop2" class="dropdown-toggle" data-toggle="dropdown" role="button">请示管理 <b class="caret"></b></a>
								<ul class="dropdown-menu" aria-labelledby="drop2" role="menu">
									<li role="presentation"><a href="<?php echo spUrl("businessreport", "reportlist");?>">事前请示</a></li>
								</ul>
							</li>
							
							<li class="<?php if($controllerName == "paymentapply" || $controllerName == "paymentexamine" || $controllerName == "paymentverify") echo "active"; ?> dropdown">
								<a href="#" id="drop3" class="dropdown-toggle" data-toggle="dropdown" role="button">支付管理 <b class="caret"></b></a>
								<ul class="dropdown-menu" aria-labelledby="drop3" role="menu">
									<li role="presentation" class="dropdown-submenu">
										<a href="#" tabindex="-1">支付申请</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("paymentapply", "loanapplicationlist")?>">借款申请</a></li>
											<li><a href="<?php echo spUrl("paymentapply", "loanafrapplicationlist")?>">借款报销申请</a></li>
											<li><a href="<?php echo spUrl("paymentapply", "directafrapplicationlist")?>">直接报销申请</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li role="presentation"  class="dropdown-submenu">
										<a href="#" tabindex="-1">支付审批</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("paymentexamine", "loanexaminelist")?>">借款审批</a></li>
											<li><a href="<?php echo spUrl("paymentexamine", "afrexaminelist")?>">报销审批</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-submenu">
										<a href="#" tabindex="-1">支付确认</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("paymentverify", "loanverifylist")?>">借款确认</a></li>
											<li><a href="<?php echo spUrl("paymentverify", "afrverifylist")?>">报销确认</a></li>
										</ul>
									</li>
								</ul>
							</li>
							
							<li class="<?php if($controllerName == "fundmanage") echo "active";?> dropdown">
								<a href="<?php echo spUrl("fundmanage","fundrolllist")?>">资金划转</a>
							</li>
							
							<li class="<?php if($controllerName == "statistics") echo "active";?> dropdown">
								<a href="#" id="drop4" class="dropdown-toggle" data-toggle="dropdown" role="button">统计查询 <b class="caret"></b></a>
								<ul class="dropdown-menu" aria-labelledby="drop4" role="menu">
									<li role="presentation" class="dropdown-submenu">
										<a href="#" tabindex="-1">财批内批关系表</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("statistics", "targetmajor"); ?>">以财政预算为主线</a></li>
											<li><a href="<?php echo spUrl("statistics", "indicatorsmajor");?>">以内部预算为主线</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li role="presentation"  class="dropdown-submenu">
										<a href="#" tabindex="-1">指标执行情况表</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("statistics", "targetexecute");?>">财政预算执行情况表</a></li>
											<li><a href="<?php echo spUrl("statistics", "organizationexecute");?>">机构预算执行总表</a></li>
											<li><a href="#">机构预算执行明细表</a></li>
											<li><a href="#">借用指标统计表</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-submenu">
										<a href="#" tabindex="-1">支出用途统计表</a>
										<ul class="dropdown-menu">
											<li><a href="#">机构预算执行总表</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-submenu">
										<a href="#" tabindex="-1">事前请示统计表</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("statistics","organization_execute");?>">机构预算执行总表</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-submenu">
										<a href="#" tabindex="-1">资金账户统计表</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("statistics","statepay");?>">国库和实际支出调节表</a></li>
											<li><a href="<?php echo spUrl("statistics","account_budget_detail");?>">预算资金明细表</a></li>
										</ul>
									</li>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-submenu">
										<a href="#" tabindex="-1">公务卡支出统计表</a>
										<ul class="dropdown-menu">
											<li><a href="<?php echo spUrl("statistics","pay_gather");?>">公务卡支出汇总表</a></li>
											<li><a href="<?php echo spUrl("statistics","pay_detail");?>">公务卡支出明细表</a></li>
										</ul>
									</li>
								</ul>

								<li class="<?php if($controllerName == "basicconfig") echo "active";?> dropdown">
								<a href="#" id="drop4" class="dropdown-toggle" data-toggle="dropdown" role="button">基础设置 <b class="caret"></b></a>
								<ul class="dropdown-menu" aria-labelledby="drop4" role="menu">
									<li >
										<a href="<?php echo spUrl("basicconfig","subjectsetting");?>" >功能科目</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<?php echo spUrl("basicconfig","projecttype")?>">项目分类</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<?php echo spUrl("basicconfig","org")?>">组织机构</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<?php echo spUrl("basicconfig","payuse")?>">支出用途</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<?php echo spUrl("basicconfig", "payment"); ?>">结算方式&资金性质&资金来源</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<?php echo spUrl("basicconfig", "usermanager"); ?>">人员管理</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<?php echo spUrl("basicconfig","capitalaccount");?>">资金账户</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<?php echo spUrl("basicconfig","corporation");?>">预算单位管理</a>
									</li>
								</ul>

							</li>
						</ul>
						
						<ul class="nav pull-right">
							<li><a href="#">欢迎您, <?php echo $_SESSION["login_user"]["name"];?></a></li>
							<li class="divider-vertical"></li>
							<li><a href="#"><i class="icon-wrench"></i> 账户设置</a></li>
							<li><a href="#">
								<i class="icon-calendar"></i> 年份选择
							</a></li>
							<li><a href="<?php echo spUrl("index", "logout");?>"><i class="icon-off"></i> 注销</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>